In [30]:
import pandas as pd

In [31]:
df = pd.read_json('out/data.json')

In [32]:
window_size = 48

In [33]:
df.head()

   PM10     PM2.5  PM2.5/03  PM2.5/N02
0    90  4.262680 -1.330910   0.014185
1    86  4.330733  3.637586   0.305382
2    86  4.330733  3.637586   0.305382
3    78  4.290459  3.597312   0.419258
4    78  4.290459  3.597312   0.419258

In [34]:
df.columns = ["pm10", "pm25", "pm25_o3", "pm25_no2"]

In [35]:
df.head()

   pm10      pm25   pm25_o3  pm25_no2
0    90  4.262680 -1.330910  0.014185
1    86  4.330733  3.637586  0.305382
2    86  4.330733  3.637586  0.305382
3    78  4.290459  3.597312  0.419258
4    78  4.290459  3.597312  0.419258

In [36]:
df.tail(48).to_json(f'out/body_size_{window_size}.json', orient='records')